$theme-switch-transition-duration: 0.5s;

@mixin horizontallyCenter ($justifyContent: center, $alignItems: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin other-theme($theme: dark) {
  [theme=#{$theme}] & {
    @content
  }
}