html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  &.is-component {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

code {
  background-color: #f9fafc;
  padding: 0 4px;
  border: 1px solid #eaeefb;
  border-radius: 4px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.hljs {
  line-height: 1.8;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 12px;
  padding: 18px 24px;
  background-color: #fafafa;
  border: solid 1px #eaeefb;
  border-radius: 4px;
  -webkit-font-smoothing: auto;
}

.main-cnt {
  margin-top: -80px;
  padding: 80px 0 340px;
  box-sizing: border-box;
  min-height: 100%;
}

.page-component__content {

  h2 {
    font-size: 28px;
    color: #1f2d3d;
    margin: 36px 0 20px;
  }

  h3 {
    font-size: 22px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: normal;
    a {
      color: #1f2f3d;
      text-decoration: none;
    }
  }

  p {
    font-size: 14px;
    color: #5e6d82;
    line-height: 1.5em;
  }

  .copy-code-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 12px;
    padding: 7px 12px;
    width: 40px;
    height: 40px;

    font-size: 18px;
    background-color: #f6f6f7;
    border: 1px solid #e2e2e3;
    border-radius: 4px;
    transition: background-color .25s, opacity 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }
  }

  pre {
    margin: 0;
  }

  .tip {
    padding: 8px 16px;
    background-color: #ecf8ff;
    border-radius: 4px;
    border-left: #50bfff 5px solid;
    margin: 20px 0;

    code {
      background-color: rgba(255, 255, 255, 0.7);
      color: #445368;
    }
  }

  .warning {
    padding: 8px 16px;
    background-color: #fff6f7;
    border-radius: 4px;
    border-left: #fe6c6f 5px solid;
    margin: 20px 0;

    code {
      background-color: rgba(255, 255, 255, 0.7);
      color: #445368;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 45px;
    line-height: 1.5em;
    overflow: auto;

    strong {
      font-weight: normal;
    }

    td,
    th {
      border-bottom: 1px solid #dcdfe6;
      padding: 15px;
      max-width: 250px;
    }

    th {
      text-align: left;
      white-space: nowrap;
      color: #909399;
      font-weight: normal;
    }

    td {
      color: #606266;
    }

    th:first-child,
    td:first-child {
      padding-left: 10px;
    }
  }
}

.demo {
  margin: 20px 0;
}
